@import 'sass-bootstrap/lib/bootstrap';

// bower:scss
// endbower

body {
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQCwxuVisXG4b4weP1XaBmp_DDr4KvERWAR7PSUCOTRS_G8eaz9);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #CCFF00;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 380px;
    font-size: 18px;
    font-weight: 200px;
    color: #FFFFCC;
    text-shadow: 3px 3px 3px black;
    line-height: 30px;
    background-image: url(http://2.bp.blogspot.com/-8OHNXeVlgAY/UEWeW7kAzuI/AAAAAAAADVo/83-Ck2fMx0M/s1600/Red-Curtain-Background.jpg);
    border-radius: 10px;
    border: 5px solid black;
    padding: 30px 60px 60px 60px;
    h1 {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 1;
        letter-spacing: -1px;
        


    }
}

.di-container {
    position: relative;
    margin-bottom: 40px;
    height: 120px;
    width: 260px;
    background: black;
    border: 5px solid black;
    border-radius: 8px;
}

.choose-container {
    height: 280px;
}

.face-container {
    padding: 20px 0 20px 0;
    font-size: 24px;
    color: #FFFF33;
    font-weight: bold;
    text-align: center;
}

.face-double1 {
    position: absolute;
    display: inline-block;
    left: 80px;
}

.face-double2 {
    position: absolute;
    display: inline-block;
    right: 80px;
}


.button {
    margin: 1px;
    position: absolute;
    bottom: 10px;
    right: 60px;
    height: 40px;
    width: 125px;
    background: rgb(92, 228, 222);
    border-radius: 8px;
    font-size: 26px;
    font-weight: bolder;  
    text-shadow: 3px 3px 3px black;
    box-shadow: inset -1px -3px 6px black;
    color: white;
    text-align: center;

    &:hover {
        margin-top: 8px;
        height: 37px;
        cursor: pointer;
        box-shadow: inset 0px -3px 0px rgb(58, 166, 132);
      
    }

    &:active {
      height: 34px;
      margin-top: 11px;
      box-shadow: inset 0px 3px 0px rgb(58, 166, 132);
    }
}

.create-die {
  color: white;
  background-color: red;
  width: 150px;
  position: relative;
  left: 52px;
  margin-top: 20px;
}

.die-sides {
  background-color: #FFFFCC;
  font-weight: bolder;
  border: 2px solid black;
  position: relative;
  left: 15px;
}





/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 
#tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(-2.125em, 0.8125em, -3.5625em) rotateX(-75deg) rotateY(90deg) rotateZ(0deg);
  opacity:1;
  width:8em;
  height:8em;
  margin:-4em 0 0 -4em;
}
.cub-1 .ft {
  transform:translateZ(4em);
}
.cub-1 .bk {
  transform:translateZ(-4em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:8em;
  height:8em;
}
.cub-1 .tp, .cub-1 .bm {
  width:8em;
  height:8em;
}
.cub-1 .face {
  background-color:#FFFFFF  ;
}
.cub-1 .ft {
  background:url(http://4.bp.blogspot.com/-zn4MXkJ_C-g/Tfz10QuYhrI/AAAAAAAAAEU/HJZklt4M7Ys/s200/Dice4.jpg) #FFFFFF  ;
}
.cub-1 .bk {
  background:url(http://4.bp.blogspot.com/-QHxGKMUT5MQ/Tfz104LKZ5I/AAAAAAAAAEc/2S9KnPfk24A/s200/Dice5.jpg) #FFFFFF  ;
}
.cub-1 .tp {
  background:url(http://2.bp.blogspot.com/-MDwUocciFLY/Tfz1y6TE0MI/AAAAAAAAAD8/gIcj4HsZFWY/s200/Dice1.jpg) #FFFFFF  ;
}
.cub-1 .bm {
  background:url(http://www.clipartbest.com/cliparts/niE/GAq/niEGAq9iA.jpeg) #FFFFFF  ;
}
.cub-1 .lt {
  background:url(http://3.bp.blogspot.com/-ly5UXkR-lcg/Tfz1zgfO0GI/AAAAAAAAAEE/7Cx78huP0Kk/s200/Dice2.jpg) #FFFFFF  ;
}
.cub-1 .rt {
  background:url(http://2.bp.blogspot.com/-zIzHdd_e3IM/Tfz1z_GQU7I/AAAAAAAAAEM/lxVTCfAe1Hw/s200/Dice3.jpg) #FFFFFF  ;
}





/* Browse Happy */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-again {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}



.roller {
    height: 220px;
    width: 220px;
    position: fixed;
    margin: 0 auto;
    float: left;
    top: 40px;
    -webkit-animation-name: rotate-again; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: 3s;
    -webkit-animation-timing-function: linear;
}

.roller-spin {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: 3s;
    -webkit-animation-timing-function: linear;
} 

.roller2 {
  height: 220px;
  width: 220px;
  position: fixed;
  margin: 0 auto;
  float: right;
  top: 40px;
  right: 243px;
  -webkit-animation-name: rotate-again; 
  -webkit-animation-duration: 1.5s; 
  -webkit-animation-iteration-count: 3s;
  -webkit-animation-timing-function: linear;
}

.roller-spin2 {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: 3s;
    -webkit-animation-timing-function: linear;
}



.rollerbar {
    padding-left: 240px;
    width: 520px;
    height: 980px;
    float: left;
}

.rollerbar2 {
  float: right;
  width: 520px;
  height: 980px;
  padding-right: 240px;
}

